.stork-list {
  padding-left: 0;
	margin: 0;
} .stork-list ul {
	padding-left: 0.4em;
} .stork-list li > ul {
  margin-left: 0.55em;
  border-left: 0.1em dashed #222;
}

.stork-list li {
	list-style: none;
	white-space: nowrap;
}

.stork-list div, .stork-list i {
  cursor: default;
}

.stork-list .inaccessible {
  color: #F00;
}

.stork-list li > div {
  border: 1px dotted transparent;
} .stork-list li.selected > div {
  background-color: #EFF;
  border: 1px dotted #000;
}

.stork-list li ul {
  display: none;
} .stork-list li.open > ul {
  display: block;
}

.stork-list i {
  float: left;
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

.stork-list .dot {
  display: none;
} .stork-list .dot div:before,
  .stork-list .dot {
  color: #888;
}

.stork-list div:before,
.stork-list i:before {
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2em;
  width: 1em;
  display: inline-block;
} .stork-list div:before {
  margin-right: 0.2em;
} .stork-list i:before {
  line-height: 0.9em;
} .stork-list .dir > div:before {
  content: "\f07b";
} .stork-list .open > div:before {
  content: "\f07c";
} .stork-list .file > div:before {
  content: "\f0f6";
} .stork-list .dir > i:before {
  content: "\f116";
} .stork-list .open > i:before {
  content: "\f117";
} .stork-list .wait > div:before {
  content: "\f110";
  -moz-animation: spin 1.5s infinite steps(8, end);
  -o-animation: spin 1.5s infinite steps(8, end);
  -webkit-animation: spin 1.5s infinite steps(8, end);
  animation: spin 1.5s infinite steps(8, end);
}
