<div class="file-list panel panel-default">
  <!-- Top of the widget where user enters a URI. -->
  <div class="panel-heading">
    <form class="uri" ng-submit="go(uri.text)">
      <div ng-controller="History as history" class="text-left input-group-lg"
           ng-class="uri.state" ng-init="uri.state.changed = true">
        <input class="uri-input form-control" type="text" ng-change="uri.state.changed = true"
               ng-model="uri.text" placeholder="Enter a URL">

        <!-- History dropdown menu. -->
        <div class="dropdown" ng-class="{open:history.show}">
          <ul tabindex="-1" ng-if="(history.list | filter:uri.text).length"
              class="dropdown-menu">
            <li ng-repeat="h in history.list | filter:uri.text">
              <a ng-click="history.show = false; go(h)" ng-bind="h"></a>
            </li>
          </ul>
        </div>

        <!-- Buttons on the right of the URI input. -->
        <span class="buttons">
          <button type="submit" class="large fa fa-arrow-right go" title="Go"></button>
          <button type="submit" class="large fa fa-repeat reload" title="Reload"></button>
          <button type="button" class="large fa fa-chevron-down history"
                  ng-class="history.show && 'active'"
                  ng-click="history.show = !history.show"></button>
        </span>
      </div>
    </form>
  </div>

  <!-- Toolbar for managing files. -->
  <div class="panel-heading form-inline transfer-toolbar">
    <div class="input-group col-md-8" style="white-space:nowrap">
      <div class="btn-group">
        <button class="btn btn-default" title="Previous Directory" ng-click="up_dir()">
          <i class="fa fa-level-up fa fa-flip-horizontal"></i>
          <i class="fa fa-folder-open"></i>
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default ph" ng-click="mkdir()" title="New folder">
          <i class="fa fa-folder-open"></i>
          <i class="fa fa-plus"></i>
        </button>
        <button class="fa fa-trash btn btn-default ph" title="Delete" ng-click="rm(selectedUris())"></button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default" ng-class="{active:showHidden}" title="Toggle hidden"
                ng-click="showHidden = !showHidden">
          <i class="fa" ng-class="showHidden && 'fa-eye' || 'fa-eye-slash'"></i>
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default" title="Download" ng-click="download(selectedUris())">
          <i class="fa fa-download"></i>
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default" title="Authenticate"
                ng-class="end.credential && 'btn-info'" ng-click="credModal()">
          <i class="fa fa-key"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Where files are displayed and can be browsed. -->
  <div class="tree" ng-class="{'hide-dots': !showHidden}">
    <div>
      <ul class="stork-list" ng-if="root && !error" ng-init="files = [root]"
          ng-include="'browse-node.html'">
      </ul>
      <ul class="stork-list" ng-if="error" class="alert-danger" style="overflow-x: auto">
        <li>
          <strong>Error:</strong> <span ng-bind="error"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
