<div class="file-list panel">
  <form class="uri panel-heading" ng-submit="refresh(temp_uri)">
    <div ng-class="uri_state" class="input-group-lg">
      <input type="url" class="form-control" ng-change="uri_state.changed = true" ng-model="temp_uri" placeholder="Enter a URL">
      <button type="submit" class="pull-right btn btn-lg" tooltip="Go">
        <i class="icon-play"></i>
      </button>
    </div>
  </form>
  <div class="panel-heading container form-inline transfer-toolbar">
    <div class="input-group col-md-8" style="white-space:nowrap">
      <div class="btn-group">
        <button class="icon-repeat btn btn-default" tooltip="Refresh" ng-click="refresh(temp_uri)">
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default" tooltip="Previous Directory" ng-click="up_dir()">
          <i class="icon-level-up icon-flip-horizontal"></i>
          <i class="icon-folder-open"></i>
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default ph" tooltip="New folder">
          <i class="icon-folder-open"></i>
          <i class="icon-plus"></i>
        </button>
        <button class="icon-trash btn btn-default ph" tooltip="Delete"></button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default" ng-class="{'active':show_dots}" tooltip="Toggle hidden"
                ng-click="show_dots = !show_dots">
          <i ng-class="{false: 'icon-eye-open', true: 'icon-eye-close'}[!show_dots]"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4" ng-controller="CredCtrl">
      <select ng-change="credChanged()" ng-model="end.cred"
              class="form-control dropdown-toggle" tooltip="Select credential">
        <option value="">No credential</option>
        <optgroup label="Saved credentials">
          <option disabled ng-if="creds.length == 0">(none)</option>
          <option value="{{c.uuid}}" ng-repeat="c in creds">
            {{c.name || 'Unnamed ('+c.type+')'}}
          </option>
        </optgroup>
        <optgroup class="new-credential" label="New credential">
          <option value="new-myproxy">MyProxy</option>
        </optgroup>
      </select>
    </div>
  </div>
  <div class="tree" ng-class="{'hide-dots': !show_dots}">
    <script type="text/ng-template" id="browse-node.html">
      <i ng-mousedown="toggle(f)"></i>
      <div ng-dblclick="toggle(f)" ng-mousedown="select(f)">
        {{f.name}}
        <span class="small text-muted" ng-if="!f.dir">{{f.size | size}}</span>
      </div>
      <ul class="stork-list">
        <li ng-repeat="f in ff = (f.files | orderBy:['-dir','name'])"
            ng-class="tree_classes(f)" ng-include="'browse-node.html'">
        </li>
        <li ng-hide="ff.length">
          <em class="text-muted">(empty)</em>
        </li>
      </ul>
      <ul ng-if="loading" class="text-muted">
        <li><em>Loading...</em></li>
      </ul>
      <ul ng-if="error" class="alert-danger" style="overflow-x: auto">
        <li>
          <strong>Error:</strong> {{f.$error}}
        </li>
      </ul>
    </script>
    <div>
      <ul class="stork-list" ng-if="root" ng-init="f = root">
        <li ng-class="tree_classes(f)" ng-include="'browse-node.html'">
        </li>
      </ul>
    </div>
  </div>
</div>
