<div id="stork-queue" ng-controller="QueueCtrl">
  <script type="text/ng-template" id="prog-pop.html">
    <dl class="dl-horizontal">
      <dt>Bytes</dt>
      <dd ng-if="j.progress.bytes">
        <span ng-bind="percent(j.progress.bytes)"></span>
        <span ng-bind="progress(j.progress.bytes)"></span>
      </dd>
      <dt>Files</dt>
      <dd ng-if="j.progress.files">
        <span ng-bind="percent(j.progress.files)"></span>
        <span ng-bind="progress(j.progress.files)"></span>
      </dd>
    </dl>
  </script>
  <div class="clearfix panel-heading" style="font-weight: bold">
    <div class="col-xs-2  col-sm-2"></div>
    <div class="col-xs-2  col-sm-1">ID</div>
    <div class="col-xs-4  col-sm-3">Progress</div>
    <div class="col-xs-4  col-sm-2">Speed</div>
    <div class="hidden-xs col-sm-4">Source/Destination</div>
  </div>
  <div class="text-center" ng-if="!jobs.length">
    <big>No jobs found...</big>
  </div>
  <div class="{{j.status}}" ng-repeat="j in jobs">
    <div class="panel-body clearfix" rel="{{j.job_id}}">
      <!-- Controls -->
      <div class="col-xs-2 col-sm-2 btn-group">
        <button title="Details" class="btn btn-default icon-info" ng-click="j.$info = !j.$info"></button>
        <button class="btn btn-default icon-remove btn-disabled" disabled="disabled"></button>
      </div>
      <!-- ID -->
      <div class="col-xs-2 col-sm-1">
        {{j.job_id}}
      </div>
      <!-- Progress -->
      <div class="col-xs-4 col-sm-3">
        <div class="progress" data-placement="top" data-popover="" data-trigger="hover" bs-popover="'prog-pop.html'">
          <div role="progressbar" ng-class="color(j)" class="progress-bar" ng-style="pw(j)">
          </div>
          <span>{{status(j)}}</span>
        </div>
      </div>
      <!-- Speed -->
      <div class="col-xs-4 col-sm-2">
        <div ng-if="j.progress.bytes.avg > 0" ng-bind="pretty(j.progress.bytes.avg)+'B/s'"></div>
        <div ng-if="j.progress.bytes.inst > 0" ng-bind="'('+pretty(j.progress.bytes.inst)+'B/s)'"></div>
      </div>
      <!-- Endpoints-->
      <div class="visible-xs clearfix"></div>
      <div class="col-sm-4 clearfix endpoints">
        <span class="pull-left">{{j.src.uri}}</span>
        <i class="visible-xs pull-left icon-arrow-right"></i>
        <div class="hidden-xs clearfix"></div>
        <span class="pull-left">{{j.dest.uri}}</span>
      </div>
    </div>
    <!-- Raw info -->
    <div class="panel-body clearfix" ng-if="j.$info">
      <pre>{{pretty_info(j)}}</pre>
    </div>
  </div>
  <div class="clearfix panel-footer">
    <button ng-click="refresh()" class="btn btn-default">Refresh</button>
    <label for="auto-refresh-checkbox">Auto-refresh</label>
    <input type="checkbox" id="auto-refresh-checkbox" ng-model="auto">
  </div>
</div>
