<div id="stork-queue" ng-init="page = 1" ng-controller="QueueCtrl">
  <script type="text/ng-template" id="prog-pop.html">
    <dl class="dl-horizontal">
      <dt>Bytes</dt>
      <dd ng-if="j.progress.bytes">
        <span ng-bind="percent(j.progress.bytes)"></span>
        <span ng-bind="progress(j.progress.bytes)"></span>
      </dd>
      <dt>Files</dt>
      <dd ng-if="j.progress.files">
        <span ng-bind="percent(j.progress.files)"></span>
        <span ng-bind="progress(j.progress.files)"></span>
      </dd>
    </dl>
  </script>

  <script type="text/ng-template" id="template/pagination/pagination.html">
    <ul class="pagination">
      <li ng-class="{active: page.active}" ng-repeat="page in pages">
        <a href ng-class="{disabled: page.disabled}" ng-click="selectPage(page.number)" ng-bind="page.text">
        </a>
      </li>
    </ul>
  </script>

  <div class="hidden-xs clearfix panel-heading" style="font-weight: bold">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">Job ID</div>
    <div class="col-sm-3 text-center">Progress</div>
    <div class="col-sm-2 text-center">Speed</div>
    <div class="col-sm-4">Source/Destination</div>
  </div>
  <div class="panel-body">
    <div ng-init="info={}" ng-repeat="j in filteredJobs = (jobs | values | filter:filters[filter] | orderBy:'-job_id') | paginate:page:perPage">
      <div class="panel panel-body clearfix">
        <div class="col-xs-12 col-sm-2 btn-group">
          <button title="Details" class="btn btn-default icon-info" ng-click="info.show = !info.show"></button>
          <button title="Cancel" class="btn btn-default icon-remove btn-disabled" disabled="disabled"></button>
        </div>

        <div class="col-xs-3 visible-xs">
          Job ID
        </div>
        <div class="col-xs-9 col-sm-1">
          {{j.job_id}}
        </div>

        <div class="col-xs-3 visible-xs">
          Progress
        </div>
        <div class="col-xs-9 col-sm-3">
          <div class="progress" data-placement="top" data-popover="" data-trigger="hover" bs-popover="'prog-pop.html'"
               ng-class="{processing: 'progress-striped active'}[j.status]">
            <div role="progressbar" ng-class="color(j)" class="progress-bar"
                 ng-style="{width:(j.status=='processing'&&(j.progress.bytes|percent))||'100%'}"></div>
            <span class="progress-text">
              {{j.status|inflector}}
              <span ng-show="j.status=='processing'&&(j.progress.bytes|percent)">
                ({{j.progress.bytes|percent}})
              </span>
            </span>
          </div>
        </div>

        <div class="col-xs-3 visible-xs">
          Speed
        </div>
        <div class="col-xs-9 col-sm-2 text-center" ng-init="p = j.progress.bytes">
          <span ng-hide="!p || p.avg  <= 0">{{p.avg|size:2}}B/s</span>
          <span ng-hide="!p || p.inst <= 0">({{p.inst|size:2}}B/s)</span>
        </div>

        <div class="col-xs-3 visible-xs">
          Endpoints
        </div>
        <div class="col-xs-9 col-sm-4 clearfix endpoints">
          <span class="pull-left">{{j.src.uri}}</span>
          <div class="clearfix"></div>
          <span class="pull-left">{{j.dest.uri}}</span>
        </div>

        <div class="clearfix"></div>

        <div class="well" ng-if="info.show">
          <ul class="nav nav-pills">
            <li ng-class="{active:!info.raw}">
              <a ng-click="info.raw = false" href>Formatted</a>
            </li>
            <li ng-class="{active:info.raw}">
              <a ng-click="info.raw = true" href>JSON</a>
            </li>
          </ul>
          <dl ng-hide="info.raw" class="panel panel-body dl-horizontal">
            <dt ng-if="j.message">Message</dt>
            <dd ng-if="j.message">{{j.message}}</dd>

            <dt ng-if="j.queue_timer.start > 0">Job Submitted</dt>
            <dd ng-if="j.queue_timer.start > 0">
              <abbr title="{{j.queue_timer.start | date:'medium'}}">
                {{j.queue_timer.start | moment}}
              </abbr>
            </dd>

            <dt ng-if="j.run_timer.start > 0">Job Started</dt>
            <dd ng-if="j.run_timer.start > 0">
              <abbr title="{{j.run_timer.start | date:'medium'}}">
                {{j.run_timer.start | moment}}
              </abbr>
            </dd>

            <dt ng-if="j.queue_timer.end > 0">Job Completed</dt>
            <dd ng-if="j.queue_timer.end > 0">
              <abbr title="{{j.queue_timer.end | date:'medium'}}">
                {{j.queue_timer.end | moment}}
              </abbr>
            </dd>
          </dl>
          <pre class="panel panel-body" ng-show="info.raw">{{j | json}}</pre>
        </div>
      </div>
    </div>
    <div class="text-center" ng-hide="filteredJobs.length">
      <big>No transfers to display...</big>
    </div>
  </div>

  <div class="clearfix panel-footer">
    <div class="btn-group input-group col-xs-4 text-left">
      <button ng-click="refresh()" title="Refresh" class="btn btn-default" ng-disabled="auto">
        <i class="icon-repeat"></i>
      </button>
      <button ng-click="toggleAuto()" title="Auto-refresh" class="btn btn-default">
        <i ng-class="{'icon-check': auto, 'icon-check-empty': !auto}"></i>
      </button>
    </div>

    <div class="col-xs-4 text-center">
      <ul pagination total-items="filteredJobs.length" items-per-page="perPage" page="page" max-size="4"
          previous-text="&laquo;" next-text="&raquo;"></ul>
    </div>
      
    <div class="btn-group dropup pull-right">
      <label>
        Filter:
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span> {{filter | inflector}}
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="f in filterList" role="presentation" ng-class="{divider: !f}">
            <a href ng-if="f" class="show" tabindex="-1" ng-click="set_filter(f)">
              <i class="icon-ok" ng-class="{invisible: f != filter}"></i>
              {{f | inflector}}
            </a>
          </li>
        </ul>
      </label>
    </div>
  </div>
</div>
