<title>Transfer</title>

<div id="add-credential-modal" class="modal">
  <div class="modal-dialog" role="dialog">
    <form id="myproxy-form" class="ajax-form modal-content" method="post" action="/api/stork_cred?action=create">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">
          Add a New Credential
        </h4>
        <div class="small text-muted">
          Currently only MyProxy credentials are supported.
        </div>
      </div>
      <div class="modal-body container">
        <input type="hidden" name="type" value="gss-cert">
        <div class="form-group col-md-12">
          <label>MyProxy server</label>
          <input type="text" class="form-control" name="myproxy_host" placeholder="e.g., myproxy.teragrid.org" required>
        </div>

        <div class="form-group col-md-6">
          <label>MyProxy username</label>
          <input type="text" class="form-control" name="myproxy_user" required>
        </div>

        <div class="form-group col-md-6">
          <label>MyProxy password</label>
          <input type="password" class="form-control" name="myproxy_pass" required>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">
          Cancel
        </button>
        <button class="pull-right btn btn-primary" type="submit">
          Add credential
        </button>
      </div>
    </form>
  </div>
</div>

<div class="container panel">
  <div class="panel-heading">
    <h4 class="panel-title panel-collapse-header">
      Browse and Transfer Files
    </h4>
  </div>
  <script>
    function filelistRefresh(t) {
      t.closest('.file-list').trigger('reload')
    }
    function filelistToggleHidden(t) {
      t.closest('.file-list').find('.dot').animate({'height':'toggle','opacity':'toggle'})
      t.toggleClass('active')
    }
    function selectCred(t) {
      var val = t.find(':selected').attr('value')
      if (val === 'new-myproxy') {
        $('#add-credential-modal').modal()
        t.val('')
      }
    }
  </script>
  <div id="stork-ls" class="panel-body container collapse in text-center" ng-controller="TransferCtrl">
    <div class="col-sm-5-5 form-inline" id="left" rel="right" ng-include="'/parts/browse.html'"></div>
    <div class="col-sm-1 input-group-lg container text-center panel panel-heading transfer-controls">
      <div class="col-xs-1 visible-xs"></div>
      <button class="btn btn-lg btn-default col-sm-12 col-xs-2 tips" title="Transfer contents">
        <i class="icon-share hidden-xs"></i>
        <i class="icon-share visible-xs icon-rotate-90"></i>
      </button>
      <button class="btn btn-lg btn-default col-sm-12 col-xs-2 tips" title="Transfer">
        <i class="icon-share-alt hidden-xs"></i>
        <i class="icon-share-alt visible-xs icon-rotate-90"></i>
      </button>
      <button class="btn btn-lg btn-default col-sm-12 col-xs-2 tips" title="Synchronize">
        <i class="icon-refresh hidden-xs"></i>
        <i class="icon-refresh visible-xs icon-rotate-90"></i>
      </button>
      <button class="btn btn-lg btn-default col-sm-12 col-xs-2 tips" title="Transfer">
        <i class="icon-share-alt hidden-xs icon-rotate-180"></i>
        <i class="icon-share-alt visible-xs icon-rotate-270"></i>
      </button>
      <button class="btn btn-lg btn-default col-sm-12 col-xs-2 tips" title="Transfer contents">
        <i class="icon-share hidden-xs icon-rotate-180"></i>
        <i class="icon-share visible-xs icon-rotate-270"></i>
      </button>
    </div>
    <div class="col-sm-5-5 form-inline" id="right" rel="left" ng-include="'/parts/browse.html'"></div>
  </div>
</div>

<script>
  function TransferOptionsCtrl($scope) {
    $scope.values = {
      'optimizer': 'false',
      'overwrite': 'true',
      'verify'   : 'false',
      'encrypt'  : 'false',
      'compress' : 'false'
    }
    $scope.options = [{
        'title': 'Use transfer optimization',
        'param': 'optimizer',
        'description':
          'Automatically adjust transfer options using the given optimization algorithm.',
        'choices': { 'None': 'false', '2nd Order': '2nd_order', 'PCP': 'pcp' }
      },{
        'title': 'Overwrite existing files',
        'param': 'overwrite',
        'description':
          'By default, destination files with conflicting file names will be overwritten. '+
          'Saying no here will cause the transfer to fail if there are any conflicting files.',
        'choices': { 'Yes': 'true', 'No': 'false' }
      },{
        'title': 'Verify file integrity with checksum',
        'param': 'verify',
        'description':
          'Enable this if you want additional data integrity verification of transferred files.',
        'choices': { 'Yes': 'true', 'No': 'false' }
      },{
        'title': 'Encrypt data channel',
        'param': 'encrypt',
        'description':
          'Enables data transfer encryption, if supported. This provides additional data security '+
          'at the cost of transfer speed.',
        'choices': { 'Yes': 'true', 'No': 'false' }
      },{
        'title': 'Use data channel compression',
        'param': 'compress',
        'description':
          'Compresses data before sending, if the source supports it. This may improve transfer '+
          'speed if the data is fairly regular (e.g., text-based or structured). '+
          'However, this may slightly reduce speed if the data is highly random.',
        'choices': { 'Yes': 'true', 'No': 'false' }
      }
    ]
    $scope.set = function (p, v) {
      this.values[p] = v
    }
  }
</script>

<div class="container panel panel-collapsed" ng-controller="TransferOptionsCtrl">
  <div class="panel-heading">
    <h4 class="panel-title panel-collapse-header">
      Transfer Options
    </h4>
  </div>

  <div id="transfer-options" class="panel-body collapse">
    <span class="text-muted">
      Note: All of these options are non-functional placeholders for now.
    </span>
    <form role="form">
      <div class="form-group container">
        <div style="height: 13em" class="form-group col-lg-3 col-md-4 col-sm-6" ng-repeat="o in options">
          <h4>{{o.title}}</h4>
          <div class="btn-group">
            <label class="btn btn-default btn-large" ng-repeat="(n,v) in o.choices" ng-class="{active: values[o.param]==v}">
              <input type="radio" name="{{o.param}}" ng-model="values[o.param]" value="{{v}}" class="hide">
              {{n}}
            </label>
          </div>
          <div class="help-block">
            {{o.description}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container panel">
  <div class="panel-heading">
    <h4 class="panel-title panel-collapse-header">
      Transfer Progress and Queue
    </h4>
  </div>
  <div id="stork-queue" class="collapse in">
    <table class="table table-hover">
      <thead><tr>
        <th width="8%"  rel="info"></th>
        <th width="6%"  rel="job_id">ID</th>
        <th width="20%" rel="progress">Progress</th>
        <th width="15%" rel="speed">Speed</th>
        <th width="50%" rel="endpoints">Source/Destination</th>
      </tr></thead>
      <tbody>
        <tr><td colspan=5>
          <div class="progress progress-striped active">
            <div style="width: 100%" role="progressbar" class="progress-bar">
              <big>Loading...</big>
            </div>
          </div>
        </td></tr>
      </tbody>
      <tfoot>
        <tr><td colspan="5">
          <input type="button" class="btn btn-default" value="Refresh">
          <label for="auto-refresh-checkbox">Auto-refresh table?</label>
          <input type="checkbox" id="auto-refresh-checkbox" checked="checked">
        </td></tr>
      </tfoot>
    </table>
  </div>
</div>
