<div class="container panel">
  <div class="panel-heading">
    <h4 class="panel-title panel-collapse-header">
      Profile Information
    </h4>
  </div>
  <div class="panel-body container collapse in text-center">
    <form class="col-sm-6">
      <div class="form-group">
        <label for="login-user-id">Email</label>
        <input id="login-user-id" class="form-control" ng-model="user.email" type="text">
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input id="login-password" class="form-control" ng-model="user.password" type="password">
      </div>
      <button class="btn btn-default" type="submit">Log in</button>
    </form>
  </div>
</div>
