<form role="form" class="signup-form ajax-form"
      ng-submit="promise = register(user)" ng-controller="Register">
  <div class="form-group">
    <label for="signup-email" class="sr-only">Email</label>
    <input id="signup-email" ng-model="user.email" type="email"
           class="form-control" placeholder="Email" required>
    <span class="small help-block">
      Your email address will serve as your login name.
    </span>
  </div>
  <div class="form-group">
    <label for="signup-password" class="sr-only">Password</label>
    <input id="signup-password" ng-model="user.password" type="password"
           class="form-control" minlength="6" placeholder="Password" required>
    <span class="small help-block">
      Password must be at least six characters.
    </span>
  </div>

  <div class="text-center">
    <input class="btn btn-warning" type="submit" value="Sign up">
  </div>

  <span class="small help-block">
    By signing up, you agree to our <a href="#/terms">terms of service</a>
    and <a href="#/privacy">privacy policy</a>.
  </span>

  <div cg-busy="promise"></div>
</form>

<script type="text/ng-template" id="register-confirm.html">
  Welcome, {{$user.email}}!
</script>
