<div class="sidebar dark" ng-controller="User" bs-collapse>
  <div class="sidebar-content" bs-collapse-target>
    <a class="large" href="#/">
      StorkCloud
    </a>

    <a href="#/transfer">
      <i class="fa fa-exchange"></i>
      <span>Transfer</span>
    </a>

    <a href="#/queue">
      <i class="fa fa-list-ol"></i>
      <span>Queue</span>
    </a>

    <a id="user-button" class="logged-in" href="#/user" ng-cloak>
      <i class="fa fa-user"></i>
      <span ng-bind="$user.email"></span>
    </a>

    <a class="logged-out" href="#/" ng-click="login()">
      <i class="fa fa-sign-in"></i>
      <span>Log in</span>
    </a>

    <a class="logged-in" ng-click="logout()" href="#/" ng-cloak>
      <i class="fa fa-sign-out"></i>
      <span>Log out</span>
    </a>
  </div>

  <a class="toggle" bs-collapse-toggle>
    <i class="fa fa-angle-right"></i>
  </a>
</div>
