<div class="container panel-group">
  <div class="panel panel-default" bs-collapse>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a bs-collapse-toggle>Browse and Transfer Files</a>
      </h4>
    </div>

    <div id="stork-ls" class="panel-collapse text-center" bs-collapse-target>
      <div class="panel-body">
        <!-- Left and right browsing widgets -->
        <div class="col-xs-6" ng-controller="Browse" ng-init="end = left"
             ng-include="'/app/transfer/browse/browse.html'"></div>
        <div class="col-xs-6" ng-controller="Browse" ng-init="end = right"
             ng-include="'/app/transfer/browse/browse.html'"></div>

        <div class="clearfix"></div>

        <div class="large input-group-lg text-center panel panel-heading transfer-controls">
          <button class="fa fa-arrow-left btn btn-lg btn-default" title="Transfer"
                  ng-disabled="!canTransfer(left, right, false)" ng-click="transfer(left, right, false)">
          </button><button class="fa fa-refresh btn btn-lg btn-default ph" title="Synchronize"
                  ng-disabled="!canSync(left, right)" ng-click="sync(left, right)">
          </button><button class="btn fa fa-arrow-right btn-lg btn-default" title="Transfer"
                  ng-disabled="!canTransfer(right, left, false)" ng-click="transfer(right, left, false)">
          </button>
        </div>

        <div class="clearfix" ng-if="debugMode"></div>

        <div class="text-left col-xs-12" ng-if="debugMode">
          <h4>Raw Job Info</h4>
          <pre>{{job|json}}</pre>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" bs-collapse data-start-collapsed="true">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a bs-collapse-toggle>Transfer Options</a>
      </h4>
    </div>

    <div id="transfer-options" class="panel-collapse" bs-collapse-target>
      <div class="panel-body">
        <span class="text-muted">
          Note: Some of these options are non-functional placeholders for now.
        </span>
        <form role="form">
          <div class="form-group">
            <div style="height: 13em" class="form-group col-lg-3 col-md-4 col-sm-6" ng-repeat="opt in optSet">
              <h4>{{opt.title}}</h4>
              <div class="btn-group" bs-button-group>
                <label class="btn btn-large btn-default" ng-repeat="choice in opt.choices"
                       ng-class="(job.options[opt.param] === choice[1]) && 'active'">
                  <input type="radio" class="hide" ng-model="job.options[opt.param]" ng-value="choice[1]">
                  {{choice[0]}}
                </label>
              </div>
              <p class="help-block">
                {{opt.description}}
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="panel panel-default" bs-collapse>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a bs-collapse-toggle>Transfer Progress and Queue</a>
      </h4>
    </div>

    <div id="transfer-options" class="panel-collapse" bs-collapse-target>
      <div class="panel-body" ng-include="'/app/transfer/queue/queue.html'"></div>
    </div>
  </div>
</div>

<!-- Transfer/sync confirmation modal -->
<script type="text/ng-template" id="transfer-modal.html">
  <form ng-submit="submit(job, $hide)">
    <div class="text-center">
      This will perform a transfer from
      <div class="large" bindonce bo-bind="job.src.uri"></div>
      to
      <div class="large" bindonce bo-bind="job.dest.uri"></div>
      <div class="text-left col-xs-12" ng-if="debugMode">
        <h4>Raw Job Info</h4>
        <pre>{{job|json}}</pre>
      </div>
    </div>
    <div class="modal-footer text-center">
      <button class="btn btn-warning" ng-click="$hide()">Cancel</button>
      <button class="btn btn-primary" ng-click="$close(job)">Submit</button>
    </div>
    <div cg-busy="promise"></div>
  </form>
</script>

<!-- A node in the file browser tree. -->
<script type="text/ng-template" id="browse-node.html">
  <li bindonce="root" ng-repeat="root in files | orderBy:['-dir','name']"
      bo-class="{ dir: root.dir, file: !root.dir, loading: loading,
                  dot: root.name && root.name.charAt(0) == '.' }"
      ng-class="{open:open}">
    <i class="fa text-muted toggle" ng-mousedown="root.dir && toggle()"
       ng-class="{'fa-minus-square-o': open, 'fa-plus-square-o': !open}"></i>
    <div ng-class="{'alert-info': selected, 'alert-warning': !!error}"
         ng-dblclick="toggle()" ng-mousedown="select($event)">
      <i class="fa" bo-class="{'fa-file': !root.dir}" ng-class="{'fa-folder': (root.dir && !open), 'fa-folder-open': (root.dir && open)}"></i>
      <span bo-bind="root.name"></span>
      <span class="small text-muted" bo-if="!root.dir"
            bo-bind="(root.size | size)+'B'"></span>
      <span class="fade fa fa-refresh text-muted" ng-class="loading && 'in fa-spin'"></span>
      <div class="small text-muted" style="padding-left:1em">
        <span bo-if="root.time" bo-bind="root.time*1000 | date:'medium'"></span>
        <span bo-bind="root.perm"></span>
      </div>
    </div>
    <ul ng-if="root.files" ng-init="files = root.files; selected = false; open = false"
        class="stork-list" ng-include="'browse-node.html'">
    </ul>
    <ul ng-if="error" class="alert-danger" style="overflow-x: auto">
      <li>
        <strong>Error:</strong> <span ng-bind="error"></span>
      </li>
    </ul>
  </li>
  <li ng-if="!files.length">
    <em ng-show="loading" class="text-muted">Loading...</em>
    <em ng-hide="loading" class="text-muted">(empty)</em>
  </li>
</script>

<!-- Modal dialog to create a new folder. -->
<script type="text/ng-template" id="new-folder.html">
  <div class="modal-body">
    <div class="form-group col-sm-push-3 col-sm-6">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="name" focus-me required>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="text-center modal-footer">
    <button type="submit" class="btn btn-primary">
      OK
    </button>
    <button ng-click="$hide()" type="button" class="btn btn-default">
      Cancel
    </button>
  </div>
</script>

<!-- Modal dialog to select a credential. -->
<script type="text/ng-template" id="select-credential.html">
  <form ng-init="new = { cred: (end.cred | copy) }"
        ng-submit="end.cred = new.cred; $hide()">
    <div class="form-group" ng-class="modal-body" ng-controller="CredCtrl">
      <select ng-model="new.cred.type" class="form-control nullable">
        <option value="">No credential</option>
        <optgroup label="Saved credentials">
          <option disabled ng-if="creds.length == 0">(none)</option>
          <option value="{{c.uuid}}" ng-repeat="c in creds">
            {{c.name || 'Unnamed ('+c.type+')'}}
          </option>
        </optgroup>
        <optgroup class="new-credential" label="New credential">
          <option value="gss">MyProxy</option>
        </optgroup>
      </select>

      <div class="modal-body" ng-switch="new.cred.type">
        <div ng-switch-when="gss">
          <div ng-include="'new-myproxy-cred.html'"></div>
        </div>
        <div ng-switch-default>
          <div ng-init="new.cred = undefined"></div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="text-center modal-footer">
      <button type="submit" class="btn btn-primary">
        OK
      </button>
      <button ng-click="$hide()" type="button" class="btn btn-default">
        Cancel
      </button>
    </div>
  </form>
</script>

<!-- Create new credential MyProxy credential. -->
<script type="text/ng-template" id="new-myproxy-cred.html">
  <div class="form-group col-md-12">
    <label>MyProxy server</label>
    <input type="text" class="form-control" ng-model="new.cred.myproxy_host"
           placeholder="e.g., myproxy.example.com" required>
  </div>

  <div class="form-group col-md-6">
    <label>MyProxy username</label>
    <input type="text" class="form-control" ng-model="new.cred.myproxy_user" required>
  </div>

  <div class="form-group col-md-6">
    <label>MyProxy password</label>
    <input type="password" class="form-control" ng-model="new.cred.myproxy_pass" required>
  </div>
</script>

