<script type="text/ng-template" id="new-folder.html">
  <div class="modal-header" ng-init="parent = selectedUris()[0]||uri().href()">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
      &times;
    </button>
    <h4 class="modal-title">
      <i class="icon-folder-open"></i>
      <i class="icon-plus"></i>
      Create a New Folder
    </h4>
  </div>
  <div class="modal-body">
    <div class="form-group col-sm-push-3 col-sm-6">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="name" focus-me required>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="text-center modal-footer">
    <button type="submit" class="btn btn-primary">
      OK
    </button>
    <button ng-click="$dismiss()" type="button" class="btn btn-default">
      Cancel
    </button>
  </div>
</script>

<div class="file-list panel">
  <form class="uri panel-heading" ng-submit="refresh(temp_uri)">
    <div ng-class="uri_state" class="text-left input-group-lg">
      <input type="text" class="form-control" ng-change="uri_state.changed = true" ng-model="temp_uri"
             placeholder="Enter a URL" typeahead-wait-ms="10"
             typeahead="h for h in [$viewValue].concat($user.history) | filter:$viewValue | limitTo:11">
      <button type="submit" class="pull-right btn btn-lg" title="Go">
        <i class="icon-play"></i>
      </button>
    </div>
  </form>
  <div class="panel-heading form-inline transfer-toolbar">
    <div class="input-group col-md-8" style="white-space:nowrap">
      <div class="btn-group">
        <button class="icon-repeat btn btn-default" title="Refresh" ng-click="refresh(temp_uri)">
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default" title="Previous Directory" ng-click="up_dir()">
          <i class="icon-level-up icon-flip-horizontal"></i>
          <i class="icon-folder-open"></i>
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default ph" ng-click="mkdir()" title="New folder">
          <i class="icon-folder-open"></i>
          <i class="icon-plus"></i>
        </button>
        <button class="icon-trash btn btn-default ph" title="Delete" ng-click="rm(selectedUris())"></button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default" ng-class="{active:showHidden}" title="Toggle hidden"
                ng-click="showHidden = !showHidden">
          <i ng-class="{false: 'icon-eye-open', true: 'icon-eye-close'}[!showHidden]"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4" ng-controller="CredCtrl">
      <select ng-change="credChanged()" ng-model="end.cred"
              class="form-control dropdown-toggle" title="Select credential">
        <option value="">No credential</option>
        <optgroup label="Saved credentials">
          <option disabled ng-if="creds.length == 0">(none)</option>
          <option value="{{c.uuid}}" ng-repeat="c in creds">
            {{c.name || 'Unnamed ('+c.type+')'}}
          </option>
        </optgroup>
        <optgroup class="new-credential" label="New credential">
          <option value="new-myproxy">MyProxy</option>
        </optgroup>
      </select>
    </div>
  </div>
  <div class="tree" ng-class="{'hide-dots': !showHidden}">
    <script type="text/ng-template" id="browse-node.html">
      <li ng-repeat="root in files | orderBy:['-dir','name']"
          ng-class="{ dir: root.dir, file: !root.dir, loading: loading, open: open,
                      dot: root.name && root.name.charAt(0) == '.' }">
        <i class="text-muted" ng-mousedown="toggle()"></i>
        <div ng-class="{'alert-info': selected, 'alert-warning': !!error}" ng-dblclick="toggle()"
             ng-mousedown="select($event)">{{root.name}}
          <span class="small text-muted" ng-if="!root.dir">{{root.size | size}}B</span>
          <span ng-if="loading" class="icon-refresh icon-spin text-muted"></span>
          <div class="small text-muted" style="padding-left:1em">
            <span ng-if="root.time">{{root.time*1000 | date:'medium'}}</span>
            {{root.perm}}
          </div>
        </div>
        <ul ng-if="root.files" ng-init="files = root.files; selected = false; open = false"
            class="stork-list" ng-include="'browse-node.html'">
        </ul>
        <ul ng-if="error" class="alert-danger" style="overflow-x: auto">
          <li>
            <strong>Error:</strong> {{error}}
          </li>
        </ul>
      </li>
      <li ng-if="!files.length">
        <em ng-show="loading" class="text-muted">Loading...</em>
        <em ng-hide="loading" class="text-muted">(empty)</em>
      </li>
    </script>
    <div>
      <ul class="stork-list" ng-if="root && !error" ng-init="files = [root]"
          ng-include="'browse-node.html'">
      </ul>
      <ul class="stork-list" ng-if="error" class="alert-danger" style="overflow-x: auto">
        <li>
          <strong>Error:</strong> {{error}}
        </li>
      </ul>
    </div>
  </div>
</div>
